body {
  font-family: 'Arial', sans-serif;
  background-color: #12673D96;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  letter-spacing: 2px;
  text-align: center;
}


.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 90%;
  max-width: 800px;
}


.criteria-and-grid-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  position: relative;
  width: 100%;
  max-width: 800px;
}

.criteria-column {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 100px;
}

.criteria-row {
  display: flex;
  flex-direction: row;
  gap: 5px;
  position: absolute;
  top: -110px;
  right: 185px;
  margin-top: 100px;
}

.criteria-column div, .criteria-row div {
  background-color: #d3d3d3;
  color: #333;
  font-size: 0.9rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 10px;
}


.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
}

.case {
  background-color: #e8f5e9;
  color: #333;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.case:hover {
  background-color: #c8e6c9;
}

.case.player1 {
  background-color: #add8e6;
  color: white;
}

.case.player2 {
  background-color: #f08080;
  color: white;
}


.search-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-top: -10px;
  width: 100%;
  max-width: 800px;
}

#searchBar {
  flex-grow: 1;
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
}

#search-container button {
  flex-shrink: 0;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

#search-container button:hover {
  background-color: #0056b3;
}


#status {
  font-size: 1rem;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#playerSuggestions {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ddd;
  background-color: white;
  max-height: 150px;
  overflow-y: auto;
  border-radius: 5px;
}

#playerSuggestions li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  background-color: #f8f8f8;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

#playerSuggestions li:hover {
  background-color: #007bff;
  color: white;
}